{% extends 'base.html' %}

{% block content %}

<div class='main'>
    
    <div class='info'>
        <h1>Testing Short-term Memory</h1>
        <p>In cognitive science, there are multiple theories that characterize how short-term memory works. There are two interesting analogies that cognitive scientists use to describe memory: </p>
        <ul>
            <li>Memory contains slots and we put items into these slots to memorize them; </li>
            <li>Or memories are resources that we can distirbute to the items we try to remember.</li>
        </ul>
        <p> For example, <a href="https://www.nature.com/articles/nature06860"><em>Zhang. et. al.</em></a> supports the theory that working memory stores a small set of discrete, fixed-resolution representations (the "slot" analogy). </p>
    </div>
    <div class='info_game'>
        <p>In this game, you are presented a list of <strong>letters</strong> or <strong>numbers</strong> for several seconds. Then, you are asked to repeat those letters or numbers. </p>
        <p>Let's get started and practice your short-term memory!</p>
    </div>

    <div class='setup'>
        <form method='POST'>
            <!-- <input type="number" id="height" class="size_input" name="height" min="5" max="10" value="5"/>
            <large>X</large> 
            <input type="number" id="width" class="size_input" name="width" min="5" max="10" value="5"/> -->
            <!-- <button class='play' type="submit">Enter the Dungeon</button> -->
            <label for="length" class='select'>Choose number of items:</label>
            <select id="length" class='select' name="length">
            <!-- <option value="increasing">increasing</option> -->
            <option value="5">Fixed 5</option>
            <option value="6">Fixed 6</option>
            <option value="7">Fixed 7</option>
            <option value="8">Fixed 8</option>
            <option value="9">Fixed 9</option>
            <option value="10">Fixed 10</option>
            <option value="11">Fixed 11</option>
            <option value="12">Fixed 12</option>
            <option value="13">Fixed 13</option>
            <option value="14">Fixed 14</option>
            <option value="15">Fixed 15</option>
            </select>
            <button class='play' type="submit" name="game_type" value="letters">Memorize Letters</button>
            <button class='play' type="submit" name="game_type" value="numbers">Memorize Numbers</button>
        </form>
        
    </div>

</div>

{% endblock %}